# request a key here:
#   https://dev.twitter.com/apps/new
TWITTER_KEY = 'app key'
TWITTER_SECRET = 'app secret'
TWITTER_CALLBACK = 'http://www.example.org/twitter/callback'



# request a key here:
#   https://developers.facebook.com/apps/
FACEBOOK_APP_ID = 'app id'
FACEBOOK_KEY = 'app key'
FACEBOOK_SECRET = 'app secret'
FACEBOOK_CALLBACK = 'http://www.example.org/facebook/callback'
# here is the permissions list:
#   https://developers.facebook.com/docs/reference/api/permissions/
FACEBOOK_SCOPE = 'email,publish_stream'



# request a key here:
#   https://www.google.com/accounts/ManageDomains
GOOGLE_KEY = 'my key'
GOOGLE_SECRET = 'my secret'
GOOGLE_CALLBACK = 'http://www.example.org/google/callback'
GOOGLE_SCOPE = 'name,email,language,username'

# may be handy while registering your app
GOOGLE_SITE_VERIFICATION = ''
